@model GetAway.Models.Package
@{
    ViewBag.Title = "NewPackage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Add New Package</h2>

@using (Html.BeginForm("AddPackage", "Administrators", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <br>

    <div class="form-group">
        @Html.LabelFor(m => m.PackageName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PackageName, new { @class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PackageType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PackageType, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PackageDuration, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PackageDuration, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Rate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Rate, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Discount, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Discount, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PackageActivities, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.PackageActivities, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PackageDescription, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.PackageDescription, new { @class = "form-control" })
        </div>
    </div>


    @* 
         Vertical Line
        <div style="border-left:1px solid #000;height:500px"></div>
    *@

    <div class="form-group" >
        @Html.LabelFor(m => m.PackagePicture1, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PackagePicture1, new { @type = "file" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PackagePicture2, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PackagePicture2, new { @type = "file" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PackagePicture3, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PackagePicture3, new { @type = "file" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PackagePicture4, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PackagePicture4, new { @type = "file" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PackagePicture5, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PackagePicture5, new { @type = "file" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PackagePicture6, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PackagePicture6, new { @type = "file" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Add Package" />
        </div>
    </div>
}

